<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Site de reclamação com sistema de água e esgoto" />
    <meta name="author" content="João Vitor, John Wendel" />
    <title>+Água</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/style.css">
    <script src="assets/jquery-3.6.0.min.js"></script>
    <script src="assets/jquery.mask.min.js"></script>
    

    <!--google autenticação-->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="https://unpkg.com/jwt-decode/build/jwt-decode.js"></script>
    
</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container px-4 px-lg-0">
            <a class="navbar-brand" href="index.html"><img class="logo" src="assets/logo.png" alt="Logo mais água"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="nav-link active px-lg-3 py-1 py-lg-1 maiorfont"
                      href="meusProblemas.html">Meus Cadastros</a>
                    </li>
                    <li class="nav-item"><a class="nav-link active px-lg-3 py-1 py-lg-1 maiorfont"
                            href="cadastrarProblema.html">Cadastrar problema</a></li>
                    <li class="nav-item"><a class="nav-link active px-lg-3 py-1 py-lg-1 maiorfont"
                            href="buscarProblema.html">Consultar</a></li>
                    <li class="nav-item"><a class="nav-link active px-lg-3 py-1 py-lg-1 maiorfont"
                            href="cadastrarBoletim.html">Cadastrar Boletim</a>
                    </li>
                    <li class="nav-item"><a class="nav-link active px-lg-3 py-1 py-lg-1 maiorfont" href="">
                            <div id="buttonDiv"></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
      </nav><br/><br/>

    <!---conteúdo da página --->
    <div class="container text-center">
        <br /><br /><h3 class="text-center">Buscar problema</h3>
        <hr />
        <form action="#" th:action="@{/problema}" th:object="${ProblemaDto}" method="POST">
            <div class="row">
                <div class="col-sm-3"><label for="exampleFormControlSelect1">Tipo:</label></div>
                <div class="col-sm-9"><select class="form-control" id="exampleFormControlSelect1"
                        th:field="*{tipo_problema}">
                        <option value="0">Clique para selecionar uma opção</option>
                        <option value="1">Vazamento</option>
                        <option value="2">Falta de Água</option>
                        <option value="3">Pressão da Água</option>
                        <option value="4">Manutenção</option>
                    </select></div><br /><br />


            <!--Botões do final da página-->
            <button type="submit" class="btn btn-primary" border-radius="10px;">Enviar</button>
            <button type="reset" class="btn btn-primary" border-radius="10px;">Restaurar</button>
            <br /><br />
        </form>
    </div>
    <br /><br /><br />



    
    <script src="assets/people.js"></script>

    <!--Footer ou roda pé-->
    <footer>
        <!-- Copyright -->
        <div>
            © 2020 Copyright: <a class="text-dark" href="#">+Água</a>
        </div>
        <!-- Copyright -->
    </footer>

    <!--Script do bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>

</html>