* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    width: 100px;
    height: 40px;
}

#page-container {
    position: relative;
    min-height: 100vh;
}
  
#content-wrap {
    padding-bottom: 2.5rem;    /* altura do rodapé */
}
  
footer {
    padding-top: 8px;
    position: absolute;
    background-color: rgb(155, 155, 155);
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* altura do rodapé */
}