* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    width: 100px;
    height: 40px;
}

footer {
    padding-top: 8px;
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* altura do rodapé */
}